body {
    background-color: #e8f5e9; /* Color de fondo verde claro */
    color: #2e7d32; /* Color de texto verde oscuro */
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #c8e6c9; /* Verde suave */
}

h1 {
    font-size: 2.5em;
}

main {
    padding: 20px;
}

h2 {
    font-size: 2em;
    border-bottom: 2px solid #2e7d32; /* Línea verde debajo del título */
    padding-bottom: 10px;
}

ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none; /* Sin subrayado */
    color: #388e3c; /* Verde medio */
    transition: color 0.3s;
}

a:hover {
    color: #1b5e20; /* Verde más oscuro al pasar el mouse */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #c8e6c9; /* Verde suave */
    position: relative;
    bottom: 0;
    width: 100%;
}
